lingui
*.o
SAMPLE/CS/sample.exe
SAMPLE/D/sample
SAMPLE/D/sample.o
SAMPLE/DART/genre.dart
SAMPLE/DART/language.dart
SAMPLE/DART/plurality.dart
SAMPLE/DART/translation.dart
TEST/CS/test.exe
TEST/D/test
TEST/D/test.o
TEST/DART/genre.dart
TEST/DART/language.dart
TEST/DART/plurality.dart
TEST/DART/translation.dart
